In [1]:
import pandas as pd

# Load the original CSV file
df = pd.read_csv("clustered_output.csv")

# Show first 5 rows to confirm it loaded correctly
df.head()

,Event Count,location,Event duration,Latitude,Longitude,Cluster
0,0,"{'latitude': 21.0928232, 'longitude': 83.5287327}",1263.998,21.092823,83.528733,1
1,1,"{'latitude': 21.1912364, 'longitude': 83.5869311}",343.500,21.191236,83.586931,1
2,2,"{'latitude': 20.1986492, 'longitude': 83.2312064}",1358.165,20.198649,83.231206,1
3,3,"{'latitude': 19.891533333333335, 'longitude': ...",2423.445,19.891533,82.065932,2
4,4,"{'latitude': 21.1667245, 'longitude': 83.5788649}",496.000,21.166725,83.578865,1

In [2]:
df.rename(columns={
    "Event Count": "EventID",
    "Event duration": "Duration"
}, inplace=True)

In [3]:
df.columns

Index(['EventID', 'location', 'Duration', 'Latitude', 'Longitude', 'Cluster'], dtype='object')

In [4]:
df.drop(columns=["location"], inplace=True)

In [6]:
df.to_csv("cleaned_clustered_output.csv", index=False)

In [8]:
import os
os.listdir()

['.ipynb_checkpoints',
 'cleaned cluster.ipynb',
 'cleaned_clustered_output.csv',
 'cluster.ipynb',
 'clustered_output.csv',
 'data.csv']